apiVersion: v1
kind: Service
metadata:
  name: slot-${N}
  namespace: emulator-hub
  annotations:
    metallb.io/loadBalancerIPs: ${IP}
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: emulator
    emulator-hub/slot: "${N}"
  ports:
    - {name: adb, port: 5555, targetPort: 5557}
---
